 {
  "api.version": "v1",
  "sources": [
    {
      "name": "terms-service-@env@",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/terms-service.log",
      "category": "@env@",
      "hostName": "terms-service"
    }
  ]
}